* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Page background */
.otp-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card */
.otp-data {
  background: #ffffff;
  width: 360px;
  height:486px;
  margin-top: -79px;
  padding: 32px 28px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.6s ease-in-out;
   background: linear-gradient(135deg, #b9de13, #8651b7);
}

/* Headings */
.img-src
{
  height:100px;
  width:100px;
}
.ot-data {
  font-size: 14px;
  color: #505153;
  margin-top:66px;
}

/* OTP input */
.otp-input {
  width: 100%;
  height: 52px;
  font-size: 22px;
  text-align: center;        /* centers the OTP */
  letter-spacing: 14px;      /* spacing between digits */
  padding-left: 14px;        /* balances letter-spacing */
  border-radius: 12px;
  border: 1px solid #d1d5db;
  outline: none;
  margin-top:12px;
  transition: all 0.3s ease;
}
.otp-data input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.3);
}

/* Submit button */
.btn-submit {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #b9de13, #8651b7);
  color: #ffffff;
  margin-top:57px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-submit:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 24px rgba(79, 70, 229, 0.45);
}

.btn-submit:active {
  transform: translateY(0);
  box-shadow: none;
}

/* Smooth entrance */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
